body {
  font-family: Futura, Helvetica, sans-serif;
  text-align: center; }

h1 {
  font-size: 4em;
  letter-spacing: 0.1em;
  margin: 0.5em; }

#vector_table {
  margin: 0 auto;
  font-size: 3em; }
  #vector_table tr.vector:before {
    content: "{"; }
  #vector_table tr.vector:after {
    content: "}"; }
  #vector_table tr.vector td {
    padding: 1em;
    text-align: center; }
    #vector_table tr.vector td:after {
      content: ","; }
    #vector_table tr.vector td:last-child:after {
      content: ""; }
  #vector_table tr.differences {
    font-size: 0.6em;
    color: rgba(0, 0, 0, 0.5); }
    #vector_table tr.differences:before {
      content: ""; }
    #vector_table tr.differences:after {
      content: ""; }
    #vector_table tr.differences td {
      padding: 0 3em; }

.expression {
  font-size: 4em;
  font-family: Georgia, Times, serif;
  font-style: italic;
  position: relative; }
  .expression span {
    vertical-align: middle; }
  .expression .parenthesis {
    font-size: 2.25em;
    font-family: "Times New Roman", Times, serif;
    font-style: normal; }
    .expression .parenthesis.open {
      margin-right: 0.1em; }
    .expression .parenthesis.close {
      margin-left: 0.1em; }
  .expression .summation {
    font-size: 1.75em;
    vertical-align: -40%;
    margin-right: 0.1em;
    display: inline-block; }
    .expression .summation span {
      width: 100%;
      float: left; }
    .expression .summation .bound {
      font-size: 0.25em; }
      .expression .summation .bound.lower {
        clear: left; }
    .expression .summation .sigma {
      font-style: normal;
      clear: left; }
  .expression .super {
    font-size: 0.5em;
    vertical-align: 125%;
    margin-left: -0.3em; }
  .expression .sub {
    font-size: 0.5em;
    vertical-align: -25%;
    margin-left: 0.25em; }
  .expression .equals {
    margin: 0 0.5em 0 0.25em; }
  .expression .equation_value {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em; }
