body {
  font-family: Futura, Helvetica, sans-serif;
  text-align: center; }

h1 {
  font-size: 4em;
  letter-spacing: 0.1em;
  margin: 0.5em; }

#vector_table {
  margin: 0 auto;
  font-size: 3em; }
  #vector_table tr.vector:before {
    content: "{"; }
  #vector_table tr.vector:after {
    content: "}"; }
  #vector_table tr.vector td {
    padding: 1em;
    text-align: center; }
    #vector_table tr.vector td:after {
      content: ","; }
    #vector_table tr.vector td:last-child:after {
      content: ""; }
  #vector_table tr.differences {
    font-size: 0.6em;
    color: rgba(0, 0, 0, 0.5); }
    #vector_table tr.differences:before {
      content: ""; }
    #vector_table tr.differences:after {
      content: ""; }
    #vector_table tr.differences td {
      padding: 0 3em; }

.slider_container {
  margin: 2em 0;
  width: 100%; }
  .slider_container div {
    color: inherit;
    background: #000; }
  .slider_container .bar {
    margin: 0 auto;
    height: 0.1em;
    width: 75em;
    position: relative; }
  .slider_container .handle {
    color: inherit;
    background: #fff;
    border: 0.15em black solid;
    position: absolute;
    height: 2em;
    width: 2em;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    border-radius: 50%; }
    .slider_container .handle .inner_circle {
      color: inherit;
      background: #000;
      position: absolute;
      top: 50%;
      left: 25%;
      height: 1em;
      width: 1em;
      margin-top: -0.5em;
      border-radius: 50%; }

.expression {
  font-size: 4em;
  font-family: Georgia, Times, serif;
  font-style: italic;
  position: relative; }
  .expression span {
    vertical-align: middle; }
  .expression .limit {
    display: inline-block;
    vertical-align: -50%; }
    .expression .limit .lim {
      width: 100%;
      float: left;
      margin-bottom: 0.1em; }
    .expression .limit .approaches {
      font-size: 0.5em; }
      .expression .limit .approaches .arrow, .expression .limit .approaches .infinity {
        font-style: normal;
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5em; }
      .expression .limit .approaches .arrow {
        vertical-align: -20%; }
  .expression .parenthesis {
    font-size: 2.25em;
    font-family: "Times New Roman", Times, serif;
    font-style: normal; }
    .expression .parenthesis.open {
      margin-right: 0.1em; }
    .expression .parenthesis.close {
      margin-left: 0.1em; }
  .expression .summation {
    font-size: 1.75em;
    vertical-align: -40%;
    margin-right: 0.1em;
    display: inline-block; }
    .expression .summation span {
      width: 100%;
      float: left; }
    .expression .summation .bound {
      font-size: 0.25em; }
      .expression .summation .bound.lower {
        clear: left; }
    .expression .summation .sigma {
      font-style: normal;
      clear: left; }
  .expression .super {
    font-size: 0.5em;
    vertical-align: 125%;
    margin-left: -0.3em; }
  .expression .sub {
    font-size: 0.5em;
    vertical-align: -25%;
    margin-left: 0.25em; }
  .expression .equals {
    margin: 0 0.5em 0 0.25em; }
  .expression .equation_value {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em; }
