body {
	font-family: Futura, Helvetica, sans-serif;
	text-align: center;
}

h1 {
	font-size: 4em;
	letter-spacing: 0.1em;
	margin: 0.5em;
}

#vector_table {
	margin: 0 auto;

	font-size: 3em;

	tr.vector {

		&:before {
			content: "{";
		}

		&:after {
			content: "}";
		}

		td {
			padding: 1em;
			text-align: center;	

			&:after {
				content: ",";
			}

			&:last-child:after {
				content: "";
			}
		}
	}

	tr.differences {
		font-size: 0.6em;	

		color: rgba(0, 0, 0, 0.5);

		&:before {
			content: "";
		}

		&:after {
			content: "";
		}

		td {
			padding: 0 3em;
		}
	}
}

.expression {
	font-size: 4em;
	font-family: Georgia, Times, serif;
	font-style: italic;
	position: relative;

	span {
		vertical-align: middle;	
	}

	.parenthesis {
		font-size: 2.25em;	
		font-family: "Times New Roman", Times, serif;
		font-style: normal;

		&.open {
			margin-right: 0.1em;	
		}
		&.close {
			margin-left: 0.1em;	
		}
	}

	.summation {
		font-size: 1.75em;
		vertical-align: -40%;
		margin-right: 0.1em;
		display: inline-block;

		span {
			width: 100%;
			float: left;
		}

		.bound {
			font-size: 0.25em;

			&.lower {
				clear: left;
			}
		}

		.sigma {
			font-style: normal;
			clear: left;	
		}

	}

	.super {
		font-size: 0.5em;
		vertical-align: 125%;
		margin-left: -0.3em;
	}
	.sub {
		font-size: 0.5em;
		vertical-align: -25%;
		margin-left: 0.25em;
	}

	.equals {
		margin: 0 0.5em 0 0.25em;
	}

	.equation_value {
		font-family: Helvetica, sans-serif;
		font-style: normal;
		font-weight: bold;
		letter-spacing: 0.1em;
	}
}